@using iSynApp.App.Services
@using iSynApp.App.Models
@page "/isyn-report"
@inject ISynService ISynService

@if (isLoading)
{
    <h1>Henter data &hellip;</h1>
}
else if (reportResult == null || reportResult.Success == false)
{
    <h1>Rapport</h1>
    <div class="form-group">
        <label>Indtast venligst dit rapportnummer</label>
        <input class="form-control" bind="@reportCode" />
    </div>
    @if (reportResult != null && !reportResult.Success)
    {
        <p class="text-danger">@reportResult.Message</p>
    }
    <button class="btn btn-info" onclick="@loadReport">Hent rapport</button>
}
else
{
    <h1>@reportResult.Report.Tenancy (@reportResult.Report.Code)</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @reportResult.Report.Tenant.Name
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Navn</th>
                            <td>@reportResult.Report.Tenant.Name</td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>@reportResult.Report.Tenant.Email</td>
                        </tr>
                        <tr>
                            <th>Telefonnummer</th>
                            <td>@reportResult.Report.Tenant.PhoneNo</td>
                        </tr>
                        <tr>
                            <th>Overtagelsesdato</th>
                            <td>@reportResult.Report.Tenant.OccupancyDate</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @reportResult.Report.Landlord.Name
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Navn</th>
                            <td>@reportResult.Report.Landlord.Name</td>
                        </tr>
                        <tr>
                            <th>Afdeling</th>
                            <td>@reportResult.Report.Landlord.Department</td>
                        </tr>
                        <tr>
                            <th>Lejlighednummer</th>
                            <td>@reportResult.Report.Landlord.ApartmentId</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>@reportResult.Report.Landlord.Address</td>
                        </tr>
                        <tr>
                            <th>By</th>
                            <td>@reportResult.Report.Landlord.ZipCity</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @if (reportResult.Report.BlueprintUrl != null)
    {
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img class="img-fluid" src="@reportResult.Report.BlueprintUrl" />
            </div>
        </div>
    }
}

@functions {
    string reportCode;
    bool isLoading;
    ISynReportResult reportResult;

    async void loadReport()
    {
        isLoading = true;
        reportResult = await ISynService.GetReportAsync(reportCode);
        isLoading = false;
    }
}
