@using iSynApp.App.Services
@using iSynApp.App.Models
@page "/isyn-report"
@inject ISynService ISynService

@if (IsLoading)
{
    <h1>Henter data &hellip;</h1>
}
else if (ReportResult == null || ReportResult.Success == false)
{
    <h1>Rapport</h1>
    <div class="form-group">
        <label>Indtast venligst dit rapportnummer</label>
        <input type="@((ShowPassword ? "text" : "password"))" class="form-control" bind="@ReportCode" />
    </div>
    @if (ReportResult != null && !ReportResult.Success)
    {
        <p class="text-danger">@ReportResult.Message</p>
    }

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="showPassword" bind="@ShowPassword"/>
        <label class="form-check-label" for="showPassword">
            Vis rapportnummer
        </label>
    </div>
    <br/>   

    <button class="btn btn-info" onclick="@loadReport">Hent rapport</button>
}
else
{
    <h1>@ReportResult.Report.Tenancy (@ReportResult.Report.CodeMasked)</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @ReportResult.Report.Tenant.Name
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Navn</th>
                            <td>@ReportResult.Report.Tenant.Name</td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>@ReportResult.Report.Tenant.Email</td>
                        </tr>
                        <tr>
                            <th>Telefonnummer</th>
                            <td>@ReportResult.Report.Tenant.PhoneNo</td>
                        </tr>
                        <tr>
                            <th>Overtagelsesdato</th>
                            <td>@ReportResult.Report.Tenant.OccupancyDate</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @ReportResult.Report.Landlord.Name
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Navn</th>
                            <td>@ReportResult.Report.Landlord.Name</td>
                        </tr>
                        <tr>
                            <th>Afdeling</th>
                            <td>@ReportResult.Report.Landlord.Department</td>
                        </tr>
                        <tr>
                            <th>Lejlighednummer</th>
                            <td>@ReportResult.Report.Landlord.ApartmentId</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>@ReportResult.Report.Landlord.Address</td>
                        </tr>
                        <tr>
                            <th>By</th>
                            <td>@ReportResult.Report.Landlord.ZipCity</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @if (ReportResult.Report.BlueprintUrl != null)
    {
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img class="img-fluid" src="@ReportResult.Report.BlueprintUrl" />
            </div>
        </div>
    }
}

@functions {
    public string ReportCode { get; set; }
    public bool IsLoading { get; set; }
    public bool ShowPassword { get; set; }
    public ISynReportResult ReportResult { get; set; }

    async void loadReport()
    {
        IsLoading = true;
        ReportResult = await ISynService.GetReportAsync(ReportCode);
        IsLoading = false;
    }
}
